<div class="jumbotron">
  <h1 class="display-3">Track your PRs</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, sed, sunt. In praesentium voluptate voluptates.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate facilis quaerat sunt.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button">Register</a>
    <a class="btn btn-success btn-lg" [routerLink]="['/login']" role="button">Login</a>
  </p>
</div>
