
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">WorkoutPR</a>
  <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a (click)="onLogoutClick()" class="nav-link" [routerLink]="['/']">Logout</a>
      </li>
    </ul>
  </div>

</nav>
