.Records {
  display: grid;
}

.Records__exercise-title {
  cursor: pointer;
  user-select: none;
  padding: 0;
  margin: 0;
}

.Records__exercise-options span {
  cursor: pointer;
  padding: 3px 7px;
}

/** Hide drop down arrow on dots button**/
.Records__exercise-options .dropdown-toggle::after {
  display: none;
}

.Records__sort-by-btn {
  padding: 0;
}

@media (min-width: 768px) {
  .Records {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (min-width: 1200px) {
  .Records {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
