<div *ngIf="selectedMuscleGroup">
  <!-- Page Title -->
  <h3 class="text-center">Showing {{selectedMuscleGroup.name}} PRs</h3>
  <div class="text-center" *ngIf="!prService.isAddExercise">
    <button (click)="onAddExerciseClick()" type="button" class="btn btn-outline-info my-3">{{addExerciseBtnText}}</button>
  </div>

  <!-- Add Exercise Card -->
  <ng-container *ngIf="prService.isAddExercise">
    <app-add-exercise [muscleGroupName]="selectedMuscleGroup.name"></app-add-exercise>
  </ng-container>
  <!-- /Add Exercise Card -->

  <div class="Records">
    <!-- Exercise -->
    <div class="card mb-3" *ngFor="let exercise of selectedMuscleGroup.exercises; let i = index">

      <!-- Exercise Card Header -->
      <div (click)="onExerciseClick(i, $event)" class="card-header d-flex justify-content-between">
        <!-- Exercise Title -->
        <h4
          *ngIf="!prService.isChangeExerciseName || prService.editIndex !== i"
          class="Records__exercise-title">{{exercise.name}}
        </h4>

        <!-- Exercise Name Change -->
        <ng-container *ngIf="prService.isChangeExerciseName && prService.editIndex === i">
          <app-change-exercise-name [index]="i" [exercise]="exercise"></app-change-exercise-name>
        </ng-container>

        <!-- Exercise Options Dropdown -->
        <ng-container *ngIf="!prService.isChangeExerciseName || selectedExercise !== i">
          <app-exercise-options [exercise]="exercise" [index]="i"></app-exercise-options>
        </ng-container>


      </div>
      <!-- /Exercise Card Header -->

      <div [ngbCollapse]="!isDesktop && prService.editIndex !== i">

        <!-- Record List -->
        <ul *ngIf="!prService.isPrEdit || i !== prService.editIndex" class="list-group list-group-flush">
          <app-record [exercise]="exercise"></app-record>
        </ul>
        <!-- /Record List -->

        <!-- Edit Records -->
        <ng-container *ngIf="prService.isPrEdit && i === prService.editIndex">
          <app-edit-record [exercise]="exercise"></app-edit-record>
        </ng-container>
        <!-- /Edit Records -->

        <!-- Record Actions -->
        <div *ngIf="!prService.isChangeExerciseName" class="card-body">
          <a (click)="onEditPrs(i)" href="#" class="card-link">Edit</a>
          <a (click)="onAddPr(exercise)" href="#" class="card-link">Add</a>

          <!-- Sort Dropdown -->
          <app-sort-dropdown [exercise]="exercise"></app-sort-dropdown>

        </div>
        <!-- /Record Actions -->

        <div class="card-footer text-muted">
          Last Updated: 2 days ago
        </div>
      </div>
    </div>
    <!-- /Exercise -->

  </div>

</div>
