<div *ngIf="selectedMuscleGroup">
  <!-- Page Title -->
  <h3 class="text-center">Showing {{selectedMuscleGroup.name}} PRs</h3>
  <div class="Records">
    <!-- Exercise -->
    <div class="card mb-3" *ngFor="let exercise of selectedMuscleGroup.exercises; let i = index">
      <h3 (click)="onExerciseClick(i)"
          class="card-header Records__exercise-title">{{exercise.name}}
      </h3>
      <div [ngbCollapse]="!isDesktop && selectedExercise !== i">

        <!-- Record List -->
        <ul *ngIf="i !== prService.editIndex" class="list-group list-group-flush">
          <app-record [exercise]="exercise"></app-record>
        </ul>
        <!-- /Record List -->

        <!-- Edit Records -->
        <ng-container *ngIf="i === prService.editIndex">
          <app-edit-record [exercise]="exercise"></app-edit-record>
        </ng-container>
        <!-- /Edit Records -->

        <!-- Record Actions -->
        <div class="card-body">
          <a (click)="onExerciseEdit(i)" href="#" class="card-link">Edit</a>
          <a (click)="onExerciseUpdate(exercise)" href="#" class="card-link">Add</a>
        </div>
        <!-- /Record Actions -->

        <div class="card-footer text-muted">
          Last Updated: 2 days ago
        </div>
      </div>
    </div>
    <!-- /Exercise -->

  </div>

</div>
